/*Créer les varriables*/
:root{
    --primary-color: #7B9CFF;
    --primary-color-bis: #3e6efd;
    --secondary-color: #fff;
    --third-color: #c74ac5;
    --background-texture: url("../ressources/textures/purty-wood.png");
    --header-text-color: #000;
    --default-text-color: #000;
}

/*****************************
*          IMPORT            *
*****************************/

@font-face{
    font-family: animeAce;
    src: url('../fonts/animeace2bb_ot/animeace2_reg.otf') format('OpenType'),
         url('../fonts/animeace2bb_tt/animeace2_reg.ttf') format('TrueType');
}


/**************************
*          ALL            *
**************************/

/* pour que 1 rem/em est egual à 10px */
html{
    font-size: 62.5%;  
}

/*définir la couleur et la texture sur toute la page*/
body{
    background-color: var(--primary-color);
    font-size: 1.5rem;
    min-width:min-content; /* Pour éviter que pour des écrans vraiment petit la page ce déforme */
}



/******************************
*          CLASSES            *
******************************/

/* Classe pour aligner et centrer sur la page */
.container{
    max-width: 1200px;
    margin:1rem auto;
}

/* Classe pour faire un flotement à droite */
.fRight{
    float:right;
}

/* Classe pour faire un flotement à gauche */
.fLeft{
    float: left;
}

/*****************************
*          HEADER            *
*****************************/

    /*      --- ALL ---        */

/* Définir la font et aligner au centre dans le header  */
header{
    font-family: animeAce;
    text-align:center;
}

/* Changer la font du header et mettre une margen (droite, gauche) pour éviter que le texte ce colle au bord */
header>div{
    font-size: 2rem;
    margin:0 2rem;
}

/* Sur tout les a du header enlever le soulignement et définir la couleur */
header a{
    text-decoration: none;
    color: var(--header-text-color);
}



    /*      --- LOGO ---        */

/* La div du logo à une largeur de toute la largeur du parent */
.logo{
    width:100%;
}

    /*      --- NAV ---        */

/* La nav à une largeur de toute la largeur du parent */
header nav{
    width: 100%;
}

/* aligner les élements avec des espace equivalent entre et autour */
.navigation ul{
    display:flex;
    list-style:none;
    justify-content:space-around;
    margin:0;
    margin-bottom:1rem;
    padding:1rem 0;
    width: 100%;
}

/* le bouton plus gros pour cliquer */
.navigation a{
    padding:1rem;
}

.navigation>ul{
    display: flex;
    justify-content: space-around;
}

.navigation li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul ul{
    font-size: 1.5rem;
    display: none;
    position:absolute;
    text-align: left;
    min-width: 100%;
    width:max-content;
    background-color: var(--primary-color-bis);
    top:100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation li>ul{
    z-index: 1000;
}

.navigation a:hover{
    color: var(--secondary-color);
}

.navigation li:hover>ul{
    display: block;
}

    /*      --- CONNECT ---        */

header .connect{
    width:100%;
    white-space: nowrap;
    margin-bottom: 1rem;
}

header .connect a{
    width: max-content;
    padding: 1rem;
}


/*****************************
*          FOOTER            *
*****************************/

.sign{
    color:var(--secondary-color);
    text-align: right;
    margin-right:1rem;
}

/*******************************
*          ALL-MAIN            *
*******************************/

main{
    background-color: var(--secondary-color);
    padding:2rem;
}

/*********************************
*          RESPONSIVE            *
*********************************/

    /****************************************
    *          TABLETTE + Mobile            *
    ****************************************/

@media screen and (min-width: 0px) and (max-width: 980px){
    header nav li.navbar-open>a{
        color: var(--secondary-color);
    }

    header nav li.navbar-open>ul{
        display: block;
    }
}

    /*******************************
    *          TABLETTE            *
    *******************************/

@media screen and (min-width: 780px){
    header>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
    }
    header .logo,
    header .connect{
        width:max-content;
        margin:0 5rem;
    }

}


    /******************************
    *          DESKTOP            *
    ******************************/

@media screen and (min-width: 980px){
    
}