/*Créer les varriables*/
:root{
    /* --primary-color: #7B9CFF;
    --primary-color-bis: #3e6efd; */
    --primary-color: #318ce7;
    --primary-color-bis: #77b5fe;
    --secondary-color: #fff;
    --third-color: #991197;
    --background-texture: url("../ressources/textures/purty-wood.png");
    --header-text-color: #000;
    --default-text-color: #000;
}

/*****************************
*          IMPORT            *
*****************************/

@font-face{
    font-family: animeAce;
    src: url('../fonts/animeace2bb_ot/animeace2_reg.otf') format('OpenType'),
         url('../fonts/animeace2bb_tt/animeace2_reg.ttf') format('TrueType');
}


/**************************
*          ALL            *
**************************/

/* pour que 1 rem/em est egual à 10px */
html{
    font-size: 62.5%;
    min-height: 100vh;
}

/*définir la couleur et la texture sur toute la page*/
body{
    font-size: 1.8rem;
    min-width:min-content; /* Pour éviter que pour des écrans vraiment petit la page ce déforme */
    min-height: 100vh;
    position: relative;
    background-color: white;
}

img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
}


/******************************
*          CLASSES            *
******************************/

/* Classe pour aligner et centrer sur la page */
.container{
    max-width: 1200px;
    margin:0 auto;
}

.grid-3{
    max-width: 100%;
    display: grid;
    grid-template: fit-content(100px) / 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
}

.grid-3>h1,
.grid-3>h2,
.grid-3>h3,
.grid-3>h4,
.grid-3>h5,
.grid-3>h6{
    text-align: center;
}
.grid-3>article{
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.grid-3 article img{
    object-fit: cover;
}

.hover-caption{
    position: relative;
    margin:0;
    height:100%;
}

.hover-caption img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display:block;
}

.hover-caption figcaption{
    opacity: 0;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    color:white;
    padding: 1rem;
    transition: opacity .5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-caption figcaption:before{
    content: "";
    position: absolute;
    top: 2rem;
    left: 2rem;
    bottom: 2rem;
    right: 2rem;
    border: 1rem solid white;
    padding: auto 0;
}

.hover-caption figcaption div{
    margin: 0 3rem;
    position: relative;
}

.hover-caption:focus figcaption,
.hover-caption:hover figcaption{
    opacity: 1;
}

.button{
    text-decoration: none;
    color:var(--secondary-color);
    background-color: var(--third-color);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--third-color);
    display: block;
    width: max-content;
}

.button:hover{
    color:var(--third-color);
    background-color: var(--secondary-color);
}

.button:disabled{
    opacity: 0.6 ;
    cursor: not-allowed;
}
.button:hover:disabled{
    color:var(--secondary-color);
    background-color: var(--third-color);
}


.navButton{
    text-decoration: none;
    color:black;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    width: max-content;
}

.navButton:hover{
    color:var(--secondary-color);
}

.admin-check~div{
    display:none;
    margin-left: 4rem;
}
.admin-check:checked~div{
    display:block;
}

table.border th,
table.border td{
    border: 1px solid black;
    padding:1rem;
}
table.border{
    border-collapse: collapse;
}

.carousel{
    position: relative;
    width: 75%;
    margin: 0 10rem;
}

.carousel>div{
    width: 100%;
    height: 100%;
}

.carousel>div img{
    display: block;
    aspect-ratio: 600/800;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .afterButton{
    content: '>';
    position: absolute;
    right: -5rem;
    top:50%;
}

.carousel .beforeButton{
    content: '<';
    position: absolute;
    left: -5rem;
    top:50%;
}


    /*      --- FLOAT ---        */
/* Classe pour faire un flotement à droite */
.fRight{
    float:right;
    margin-left: 2rem;

}

/* Classe pour faire un flotement à gauche */
.fLeft{
    float: left;
    margin-right: 2rem;
}

    /*      --- DISPLAY ---        */
.block{
    display:block;
}
.inlineBlock{
    display:inline-block;
}
.flex{
    display: flex;
}
.none{
    display: none;
}

    /*      --- FLEX ---        */
.flex-around{
    display: flex;
    justify-content: space-around;
}
.flexWrap{
    flex-wrap: wrap;
}


    /*      --- BLOCK-ALIGN ---        */
.block-center{
    margin-right: auto;
    margin-left: auto;
}
.block-right{
    margin-left: auto;
}

    /*      --- TEXT-ALIGN ---        */
.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

    /*      --- WIDTH ---        */
.width50p{
    width: 70%;
}

.width70p{
    width: 90%;
}

.width100p{
    width: 100%;
}

.width30rem{
    width: 30rem;
}

.widthMaxContent{
    width: max-content;
}

    /*      --- HEIGHT ---        */
.maxheight{
    max-height: 80vh;
}

    /*      --- SIZE ---        */
.size1rem{
    width: 1rem;
    height: 1rem;
}

    /*      --- MARGE ---        */
.margeAll{
    margin: 2rem;
}

.margeTop{
    margin-top: 2rem;
}

.margeBottom{
    margin-bottom: 2rem;
}

    /*      --- PADDING ---        */
.paddingAll{
    padding: 2rem;
}
.paddingAllMin{
    padding: .5rem;
}
.paddingRL{
    padding-right: 2rem;
    padding-left: 2rem;
}

    /*      --- BORDER ---        */
.borderAll{
    border:1px solid black;
}
.round{
    border-radius: 50%;
}
.borderCoPrim{
    border:.2rem solid var(--primary-color);
}
    /*      --- SHADOW ---        */
.shadow{
    box-shadow: 1rem 1rem .5rem silver;
    margin-bottom: 2rem;
}

    /*      --- COLOR ---        */
.bgcPrim{
    background-color: var(--primary-color);
}
    /*      --- CURSOR ---        */
.pointer{
    cursor: pointer;
}

    /*      --- LIST ---        */
.listNone{
    list-style: none;
}

.error{
    color: red;
}
.success{
    color: green;
}

/*****************************
*          HEADER            *
*****************************/

    /*      --- ALL ---        */

/* Définir la font et aligner au centre dans le header  */
header{
    font-family: animeAce;
    text-align:center;
    background-color: var(--primary-color);
    box-shadow: 0px .5rem 1.5rem silver;
    position: relative;
    z-index:1;
    padding-top: 1rem;
}

/* Changer la font du header et mettre une margen (droite, gauche) pour éviter que le texte ce colle au bord */
header>div{
    font-size: 2rem;
    margin:0 2rem;
}

/* Sur tout les a du header enlever le soulignement et définir la couleur */
header a,
header label{
    text-decoration: none;
    color: var(--header-text-color);
}



    /*      --- LOGO ---        */

/* La div du logo à une largeur de toute la largeur du parent */
.logo{
    width:100%;
}

    /*      --- NAV ---        */

/* La nav à une largeur de toute la largeur du parent */
header nav{
    width: 100%;
}

/* aligner les élements avec des espace equivalent entre et autour */
.navigation ul{
    display:flex;
    list-style:none;
    justify-content:space-around;
    margin:0;
    margin-bottom:1rem;
    padding:1rem 0;
    width: 100%;
}

/* le bouton plus gros pour cliquer */
.navigation label,
.navigation a{
    padding:1rem;
}

.navigation>ul{
    display: flex;
    justify-content: space-around;
}

.navigation li {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation ul ul{
    font-size: 1.5rem;
    display: none;
    position:absolute;
    text-align: left;
    min-width: 100%;
    width:max-content;
    background-color: var(--primary-color-bis);
    top:100%;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation li>ul{
    z-index: 1000;
}

.navigation a:hover,
.navigation .nav-check:checked + label,
.navigation label:hover{
    color: var(--secondary-color);
}

.navigation li>.nav-check:checked+label+ul,
.navigation li:hover>ul{
    display: block;
}

.navigation .nav-check{
    position: absolute;
    opacity:0;
    top: -1000rem;
}

    /*      --- CONNECT ---        */

header .connect{
    width:100%;
    white-space: nowrap;
    margin-bottom: 1rem;
}

header .connect a{
    width: max-content;
    padding: 1rem;
}

/*******************************
*          ALL-MAIN            *
*******************************/

body>main{
    background-color: var(--secondary-color);
    padding:2rem;
    padding-bottom: 10rem;
    max-width: 100%;
}

body>main>div>section{
    overflow: hidden;
}

textarea{
    resize: none;
    width:100%;
    /* border: none; */
    height:max-content;
    outline-style: none;
}

textarea::selection{
    border:none;
}

.inputNote{
    width: 6rem;
    margin-right: 1rem;
}

.artwork-list-button{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--third-color);
    color: var(--secondary-color);
    border: 1px solid var(--third-color);
    font-size: 4rem;
    width: 5rem;
    height: 5rem;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
}
.artwork-list-button:hover{
    color: var(--third-color);
    background-color: var(--secondary-color);
}
.artwork-list-button.remove::after{
    content: '_';
    position: absolute;
    display: block;
    bottom: 47%;
    left: 0;
    right: 0;
}
.artwork-list-button.add::after{
    content: '+';
    position: absolute;
    display: block;
    bottom: 3%;
    left: 0;
    right: 0;
}

.user-status{
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: var(--third-color);
    padding: 0.8rem;
    color: var(--secondary-color);
    border-radius: 15%/50%;
    z-index: 20;
    min-width: 10rem;
    text-align: center;
    border:none;
}

.user-status select{
    background: none;
    border: none;
    color: white;
}

/*****************************
*          FOOTER            *
*****************************/

body>footer{
    background-color: var(--primary-color);
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    box-shadow: 0px -.5rem 1.5rem silver;
}

.sign{
    color:var(--secondary-color);
    text-align: right;
    margin-right:1rem;
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-align: center;
}

main h1{
    background-color: white;
    margin-top: 5rem;
}

/*********************************
*          RESPONSIVE            *
*********************************/

    /**********************************
    *          Just Mobile            *
    **********************************/

@media screen and (max-width: 790px){

    .width100pM{
        width: 100%;
    }

}

    /****************************************
    *          TABLETTE + Mobile            *
    ****************************************/

@media screen and (max-width: 980px){

    header nav li.navbar-open>a{
        color: var(--secondary-color);
    }

    header nav li.navbar-open>ul{
        display: block;
    }

}

    /****************************************
    *          TABLETTE + DESKTOP           *
    ****************************************/

@media screen and (min-width: 790px){
    header>div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items:center;
    }
    header .logo,
    header .connect{
        width:max-content;
        margin:0 auto;
    }

    .grid-3{
        grid-template: fit-content(100px) / 1fr 1fr;
    }

    .grid-3>.grid-fullWidth{
        grid-column: 1/3;
    }

    .fRightTD{
        float:right;
        margin-left: 2rem;
    
    }

    .fLeftTD{
        float:left;
        margin-right: 2rem;
    
    }

    .flexTD{
        display: flex;
    }

    main h1:before,
    main h1:after{
        content: '';
        width: 10%;
        display: inline-block;
        margin: 1rem 2rem;
        border-bottom: 1px solid var(--primary-color);
    }

}


    /******************************
    *          DESKTOP            *
    ******************************/

@media screen and (min-width: 980px){
    
    .grid-3{
        grid-template: fit-content(100px) / 1fr 1fr 1fr;
    }

    .grid-3>.grid-fullWidth{
        grid-column: 1/4;
    }

    .width70p{
        width: 70%;
    }

    .width50p{
        width: 50%;
    }

}